# Agg() method

In [2]:
import pandas as pd

In [4]:
stores=pd.read_csv(r"E:\Devu\USB Drive\coding\pandas-from-scratch\notebooks\Sec-4_aggregation&reshaping\stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [5]:
stores.groupby(["city","state"]).agg("sum")

C:\Users\devul\AppData\Local\Temp\ipykernel_14576\188770222.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  stores.groupby(["city","state"]).agg("sum")

                                              store_nbr  cluster
city          state
Ambato        Tungurahua                             73       23
Babahoyo      Los Rios                               31       10
Cayambe       Pichincha                              11        6
Cuenca        Azuay                                 118       10
Daule         Guayas                                 27        1
El Carmen     Manabi                                 54        3
Esmeraldas    Esmeraldas                             43       10
Guaranda      Bolivar                                19       15
Guayaquil     Guayas                                254       60
Ibarra        Imbabura                               15       15
Latacunga     Cotopaxi                               25       30
Libertad      Guayas                                 36       10
Loja          Loja                                   38        4
Machala       El Oro                                 81        7
Manta         Manabi                                105       24
Playas        Guayas                                 35        3
Puyo          Pastaza                                22        7
Quevedo       Los Rios                               33        3
Quito         Pichincha                             384      196
Riobamba      Chimborazo                             14        7
Salinas       Santa Elena                            25        1
Santo Domingo Santo Domingo de los Tsachilas         42       13

In [6]:
stores.groupby(["city","state"]).agg("sum","count")

                                              store_nbr  cluster
city          state
Ambato        Tungurahua                             73       23
Babahoyo      Los Rios                               31       10
Cayambe       Pichincha                              11        6
Cuenca        Azuay                                 118       10
Daule         Guayas                                 27        1
El Carmen     Manabi                                 54        3
Esmeraldas    Esmeraldas                             43       10
Guaranda      Bolivar                                19       15
Guayaquil     Guayas                                254       60
Ibarra        Imbabura                               15       15
Latacunga     Cotopaxi                               25       30
Libertad      Guayas                                 36       10
Loja          Loja                                   38        4
Machala       El Oro                                 81        7
Manta         Manabi                                105       24
Playas        Guayas                                 35        3
Puyo          Pastaza                                22        7
Quevedo       Los Rios                               33        3
Quito         Pichincha                             384      196
Riobamba      Chimborazo                             14        7
Salinas       Santa Elena                            25        1
Santo Domingo Santo Domingo de los Tsachilas         42       13

In [7]:
stores.groupby(["city","state"]).agg({"cluster":["sum","mean"]})

                                             cluster
                                                 sum       mean
city          state
Ambato        Tungurahua                          23  11.500000
Babahoyo      Los Rios                            10  10.000000
Cayambe       Pichincha                            6   6.000000
Cuenca        Azuay                               10   3.333333
Daule         Guayas                               1   1.000000
El Carmen     Manabi                               3   3.000000
Esmeraldas    Esmeraldas                          10  10.000000
Guaranda      Bolivar                             15  15.000000
Guayaquil     Guayas                              60   7.500000
Ibarra        Imbabura                            15  15.000000
Latacunga     Cotopaxi                            30  15.000000
Libertad      Guayas                              10  10.000000
Loja          Loja                                 4   4.000000
Machala       El Oro                               7   3.500000
Manta         Manabi                              24  12.000000
Playas        Guayas                               3   3.000000
Puyo          Pastaza                              7   7.000000
Quevedo       Los Rios                             3   3.000000
Quito         Pichincha                          196  10.888889
Riobamba      Chimborazo                           7   7.000000
Salinas       Santa Elena                          1   1.000000
Santo Domingo Santo Domingo de los Tsachilas      13   4.333333

In [10]:
stores.groupby(["city","state"]).agg(cluster_sum=("cluster","sum"),
                                     cluster_mean=("cluster","mean"))

                                              cluster_sum  cluster_mean
city          state
Ambato        Tungurahua                               23     11.500000
Babahoyo      Los Rios                                 10     10.000000
Cayambe       Pichincha                                 6      6.000000
Cuenca        Azuay                                    10      3.333333
Daule         Guayas                                    1      1.000000
El Carmen     Manabi                                    3      3.000000
Esmeraldas    Esmeraldas                               10     10.000000
Guaranda      Bolivar                                  15     15.000000
Guayaquil     Guayas                                   60      7.500000
Ibarra        Imbabura                                 15     15.000000
Latacunga     Cotopaxi                                 30     15.000000
Libertad      Guayas                                   10     10.000000
Loja          Loja                                      4      4.000000
Machala       El Oro                                    7      3.500000
Manta         Manabi                                   24     12.000000
Playas        Guayas                                    3      3.000000
Puyo          Pastaza                                   7      7.000000
Quevedo       Los Rios                                  3      3.000000
Quito         Pichincha                               196     10.888889
Riobamba      Chimborazo                                7      7.000000
Salinas       Santa Elena                               1      1.000000
Santo Domingo Santo Domingo de los Tsachilas           13      4.333333